<% if workflow = card.collection.workflow %>
  <div id="<%= dom_id(card, :stages) %>" class="card__stages">
    <%= button_to "Not now", card_closure_path(card, reason: "Not now"),
        class: [ "workflow-stage btn", { "workflow-stage--current": card.closed? } ],
        form_class: "flex align-center gap-half" %>
    <%= button_to "The Stream", card_engagement_path(card), method: :delete,
        class: [ "workflow-stage workflow-stage--stream btn", { "workflow-stage--current": card.considering? } ],
        form_class: "flex align-center gap-half" %>
    <% workflow.stages.each do |stage| %>
      <%= button_to_set_stage card, stage %>
    <% end %>
    <%= button_to "Closed", card_closure_path(card, reason: "Completed"),
        class: [ "workflow-stage btn", { "workflow-stage--current": card.closed? } ],
        form_class: "flex align-center gap-half" %>
  </div>
<% end %>
