<% @page_title = @filter.summary %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :header do %>
  <%= render "bubbles/index/header", filter: @filter %>
<% end %>

<div class="cards--columns">
  <%= render "bubbles/index/bubbles/considering", bubbles: @considering_bubbles %>
  <%= render "bubbles/index/bubbles/doing", bubbles: @doing_bubbles, filter: @filter %>
</div>

<%= render "bubbles/index/bubbles/popped", bubbles: @popped_bubbles, filter: @filter %>
