<% @page_title = "Home" %>

<% content_for :header do %>
  <nav class="align-start">
    <div class="btn btn--circle btn--placeholder flex-item-justify-start"></div>

    <div class="events__index-header flex-inline flex-column center gap-half margin-block-end-double txt-align-center">
      <h2 class="txt-large center overflow-ellipsis max-width"><%= Account.sole.name %> / Latest activity</h2>
      <%= render "events/filter", filter: @filter %>
    </div>

    <%= link_to users_path, class: "btn flex-item-justify-end" do %>
      <%= icon_tag "settings" %>
      <span class="for-screen-reader">Account settings</span>
    <% end %>
  </nav>
<% end %>

<div class="events" id="activity">
  <%= render "events/day", day_timeline: @day_timeline %>
  <%= event_next_page_link(@day_timeline.next_day) %>
</div>
