<div class="bubble <%= local_assigns[:class] %>">
  <svg viewBox="0 0 200 100">
    <path id="top-half" fill="transparent" d="M 20,100 A 80,80 0 0,1 180,100" />
    <text text-anchor="middle" fill="currentColor">
      <textPath href="#top-half" startOffset="50%" dominant-baseline="middle">
        <%= local_assigns[:label] %>
        <%= " in" if days > 1 %>
      </textPath>
    </text>
  </svg>

  <span class="bubble__number">
    <%= days < 1 ? "!" : days %>
  </span>

  <svg viewBox="0 0 200 100">
    <path id="bottom-half" d="M 20,0 A 80,80 0 0,0 180,0" fill="transparent" />
    <text text-anchor="middle" fill="currentColor">
      <textPath href="#bottom-half" startOffset="50%" dominant-baseline="middle">
        <%= days < 1 ? "today" : "Day".pluralize(days) %>
      </textPath>
    </text>
  </svg>
</div>
