<div class="card__meta" id="<%= dom_id(card, :meta) %>">
  <div class="card__meta-avatars card__meta-avatars--author">
    <%= avatar_tag card.creator, tabindex: (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <%= local_datetime_tag(card.created_at, style: :daysago) %>
    <% "(Draft)" if card.drafted? %>
  </span>

  <span class="card__meta-text card__meta-text--author">
    <%= card.creator.familiar_name %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <%= icon_tag "refresh--meta", aria: { label: "Last updated" } %>
    <%= local_datetime_tag(card.last_active_at, style: :daysago) %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    <%= icon_tag("arrow-right", aria: { label: "Assigned to" }) if card.assignees.any? %>
    <%= card.assignees.map { |assignee| h assignee.familiar_name }.to_sentence(two_words_connector: " / ", last_word_connector: " / ").html_safe %>
  </span>

  <div class="card__meta-avatars card__meta-avatars--assignees">
    <%= render "cards/display/preview/assignees", card: card %>
  </div>
</div>
