<% cache pin do %>
  <%= tag.div id: dom_id(pin), class: "pin flex position-relative" do %>
    <%= link_to bucket_bubble_path(pin.bubble.bucket, pin.bubble),
          class: "pin__content pad pad-inline-double shadow fill-white flex align-start txt-align-start gap flex-item-grow max-width",
          style: "border-color: #{ pin.bubble.color }",
          data: { action: "click->dialog#close", turbo_frame: "_top" } do %>
      <div class="flex flex-column txt-tight-lines min-width flex-item-grow">
        <strong class="overflow-ellipsis pin__title"><%= pin.bubble.title %></strong>
        <div class="flex gap-half">
          <div class="overflow-ellipsis" style="color: <%= pin.bubble.color %>; font-weight: 500;">
            <%= pin.bubble.bucket.name -%>
            <%= " · #" if pin.bubble.tags.any? -%><%= pin.bubble.tags.map(&:title).join(", ") -%>
          </div>

          <% if pin.bubble&.stage %>
            <div class="flex flex-column txt-uppercase border flex-item-justify-end" style="font-size: 0.8em; --border-color: currentColor; padding: 0.1em 0.4em;">
              <%= pin.bubble&.stage&.name %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %> 