<div class="card__meta" id="<%= dom_id(card, :meta) %>">
  <%= avatar_image_tag card.creator, class: "avatar margin-inline-end" %>

  <div class="card__meta-grid">
    <span class="card__meta-item card__meta-item--added overflow-ellipsis">
      Added <%= local_datetime_tag(card.created_at, style: :daysago) %>
      <% if card.drafted? %>
        <strong>(Draft)</strong>
      <% end %>
    </span>
    <span class="card__meta-item card__meta-item--updated overflow-ellipsis">
      <% if card.creating? %>
        &nbsp;
      <% else %>
        Updated
        <%= local_datetime_tag(card.updated_at, style: :daysago) %>
      <% end %>
    </span>
    <span class="card__meta-item card__meta-item--reported overflow-ellipsis">
      Reported by <strong><%= familiar_name_for(card.creator) %></strong>
    </span>
    <span class="card__meta-item card__meta-item--assigned overflow-ellipsis">
      <%= card.assignees.any? ? card.assignees.map { |assignee| "Assigned to <strong>#{familiar_name_for(assignee)}</strong>" }.to_sentence.html_safe : "Not assigned" %>
    </span>
  </div>

  <div class="margin-inline-start flex-item-no-shrink">
    <%= yield %>
  </div>
</div>

