<strong class="txt-large">Workflows</strong>
<div class="flex justify-center margin-block-end">Use a Workflow to track progress in this Collection.</div>
<div class="flex flex-wrap gap justify-center">
  <% Workflow.all.each do |workflow| %>
    <div class="workflow-preview txt-align-start border-radius <%= 'workflow-preview--selected' if workflow == collection.workflow %>">
      <%= button_to collection_workflow_path(collection), method: :patch do %>
        <%= hidden_field_tag "collection[workflow_id]", workflow.id %>
        <strong class="txt-small overflow-ellipsis flex-item-no-shrink"><%= workflow.name %></strong>
        <ul class="list-style-none txt-xx-small margin-none flex flex-column gap-half">
          <% workflow.stages.each do |stage| %>
            <li class="overflow-ellipsis flex align-center gap-half min-width">
              <span class="workflow-preview__swatch btn btn--circle" style="--btn-background: <%= stage.color.present? ? stage.color : Card::Colored::DEFAULT_COLOR %>;"></span>
              <span class="overflow-ellipsis"><%= stage.name %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
<p class="margin-block-end-double"><%= link_to "Manage workflows", workflows_path, class: "btn btn--plain txt-link" %></p>
